<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">
        Sistema de Gerenciamento de Tarefas
      </h1>
      <p class="lead text-center">
        Bem-vindo ao Sistema de Gerenciamento de Tarefas!
        Este sistema foi projetado pra ajudá-lo a organizar
        suas tarefas de forma eficiente e facíl.
      </p>
      <p class="text-center">
        Com esse sistema você pode:
      </p>
      <ul class="list-group">
        <li class="list-group-item">Adicionar novas tarefas</li>
        <li class="list-group-item">Visualizar tarefas existentes</li>
        <li class="list-group-item">Atualizar tarefas (em andamento, conluidas, etc...)</li>
        <li class="list-group-item">Excluir tarefas que já foram concluídas ou não são mais
        necessárias
        </li>
      </ul>
      <p class="text-center mt-4">
        Comece agora mesmo a organizar suas tarefas de forma eficiente!!!
      </p>
    </div>
  </div>
</div>
